:host { display: block; }

#layoutSidenav {
  display: flex;
  min-height: 100vh;
  transition: all 0.3s ease-in-out;
}

#layoutSidenav_nav {
  width: 250px;
  transition: transform 0.3s ease-in-out;
  transform: translateX(0);
  z-index: 1000;
}


#layoutSidenav.sidebar-closed #layoutSidenav_nav {
  transform: translateX(-260px);
}


#layoutSidenav_content {
  flex: 1;
  transition: margin-left 0.3s ease-in-out;
  margin-left: 250px;
}


#layoutSidenav.sidebar-closed #layoutSidenav_content {
  margin-left: 0;
}

.sb-topnav { z-index: 1100; }



