<h1 class="mt-4">Clientes</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Cadastro</li>
</ol>

<div class="container-fluid">
    <form #clienteForm="ngForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-md-12">
          <div class="alert alert-success" role="alert" *ngIf="success == true">
            Cliente salvo/atualizado com sucesso!
          </div>
          <div class="alert alert-danger" role="alert" *ngFor="let erro of erros">
            {{erro}}
          </div>
        </div>
      </div>

        <div class="row">
            <div class="col-md-6 mb-3">
                <label for="ID">ID</label>
                <input type="text" [ngModel]="cliente.id"   class="form-control" id="ID" name="id" placeholder="ID" readonly aria-label="ID">
            </div>

            <div class="col-md-6 mb-3">
                <label for="dataCadastro">Data de Cadastro</label>
                <input type="date" class="form-control" id="dataCadastro" name="dataCadastro" aria-label="Data de Cadastro" [ngModel]="cliente.dataCadastro" disabled>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 mb-3">
                <label for="nome">Nome</label>
                <input type="text" class="form-control" id="nome" name="nome*" placeholder="Nome completo" required autocomplete="name" aria-label="Nome"
                        [(ngModel)]="cliente.nome">
            </div>

            <div class="col-md-6 mb-3">
                <label for="cpf">CPF</label>
                <input
                    type="text"
                    class="form-control"
                    id="cpf"
                    name="cpf*"
                    placeholder="00000000000"
                    maxlength="11"
                    required
                    aria-label="CPF"
                    [(ngModel)]="cliente.cpf"
                >
            </div>
        </div>

        <div class="row">
            <div class="col-md-2">
            <button type="submit" class="btn btn-success">
            <i class="fa fa-save"></i> Salvar
            </button>
        </div>
        </div>
    </form>
</div>

